@tailwind base;
@tailwind components;
@tailwind utilities;

/* Header Font */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

/* Body Font */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

/* Global styles */
body {
  @apply bg-bg text-text;
  font-family: "DM Serif Display", sans-serif;
  @apply tracking-wider;
}

/* Specific font usage */
.header-font {
  font-family: "DM Serif Display", serif;
  @apply tracking-widest;
}

.body-font {
  font-family: "DM Sans", sans-serif;
}

/* Transitons */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 1.5s ease-in-out;
}

/* Hide scroll bar while maintaining scroll functionality */
html {
  overflow: -moz-scrollbars-none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
  scroll-behavior: smooth;
}
